.top-bar {
	color: white;
	font-size: 1.3rem;
	font-weight: 600;

	display: flex;
	align-items: center;
}
.top-bar span {
	background: linear-gradient(to left, #43e3ff, #00ffdd);
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
