.menu {
	animation: appear 0.5s ease;

	max-width: 398px;
	max-height: 600px;
	height: calc(100vh - 100px);
	width: 100vw;

	position: relative;

	background-color: var(--primary-color);
}

.menu .quit {
	bottom: 0;
	top: 90%;

	color: white;
}

.menu__item {
	display: flex;
	padding: 10px 10px;

	color: white;

	cursor: pointer;
	margin-bottom: 2px;
}

@keyframes appear {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
