.menu {
	animation: appear 0.5s ease;

	height: calc(100% - 100px);
	width: 80%;

	position: absolute;
	left: 20%;
	background-color: var(--primary-color);
	display: none;
	z-index: 10;
}

.menu.active {
	display: block;
}

.menu .quit {
	bottom: 0;
	top: 90%;

	color: white;
	font-size: 2em;
}

.menu__item {
	padding: 13px;

	cursor: pointer;
}

.menu__item a {
	display: flex;
	align-items: center;
	gap: 4px;
}

.menu__item:hover {
	background: var(--secondary-color);
}
@keyframes appear {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 80%;
	padding: 20px 20px;
	z-index: 3;
}

.create-modal,
.rename-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	border-radius: 10px;

	background-color: var(--modal-color);
	color: white;
}

.delete-modal {
	background-color: var(--modal-color);
	color: white;
}

#input {
	border: none;
	outline: none;
	border-radius: 3px;

	margin: 5px 0;
	padding: 10px 10px;
}

.create-btn,
.rename-btn {
	color: white;
	background-color: rgb(0, 255, 136);

	border: none;
	border-radius: 3px;
	padding: 10px 0;

	cursor: pointer;
}

.create-btn:hover,
.rename-btn:hover {
	background-color: rgb(28, 235, 138);
}

.delete-btn {
	color: white;
	background-color: rgb(255, 43, 43);

	border: none;
	border-radius: 3px;
	padding: 5px 0;

	cursor: pointer;
	text-align: center;
}

.delete-btn:hover {
	background-color: red;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 0 3px;
}

a:hover {
	text-decoration: underline;
}
