.select-menu-overlay {
	position: fixed;
	top: 50px;

	display: flex;
	justify-content: center;

	width: 100%;
	height: calc(100% - 100px);
}

.select-menu {
	position: absolute;
	bottom: 5%;

	height: fit-content;
	width: 90%;
	margin: auto;
	padding-bottom: 20px;
	background-color: var(--select-menu-color);
	color: white;

	border-radius: 15px;
}

.quit {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.3rem;
	cursor: pointer;
}

.select-menu__item {
	width: 80%;
	font-size: 1.2rem;
	padding: 10px;

	text-align: center;
	border: 1px white solid;
	margin: auto;
	margin-top: 10px;
	cursor: pointer;

	display: block;

	color: white;
	text-decoration: none;
}

.select-menu__item:hover {
	transform: translateY(-5px);
	transition: all 0.2s;

	background-color: rgb(34, 212, 168);
}

@keyframes background {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
